<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Мой Сайт</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="{% url 'first' %}">Первая</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'second' %}">Вторая</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'third' %}">Третья</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'fourth' %}">Четвёртая</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'news_home' %}">Новостная</a></li>
            </ul>
        </div>
    </div>
</nav>